/* Estilos para el párrafo */
#miParrafo {
    font-size: 18px;
    color: #333;
    margin: 20px 0;
    padding: 10px;
    background-color: #f0f0f0;
    border-left: 4px solid #51ff00;
}

/* Estilos para el botón */
#miBoton {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #103f70;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
